<nav class="md:pt-12">
    <ul role="list" class="text-center mx-auto min-w-full p-2 flex md:flex-col justify-center">
        <li class="text-xl md:hover:border-r-4 border-black p-2">
            <a href="/" class="font-semibold text-slate-900 w-full mb-1">
                Главная
            </a>
        </li>
        <li class="text-xl md:hover:border-r-4 border-black p-2">
            <a href="/blog/" class="font-semibold text-slate-900 w-full mb-1">
                Блог
            </a>
        </li>
        <li class="text-xl md:hover:border-r-4 border-black p-2">
            <a href="/projects/" class="font-semibold text-slate-900 w-full mb-1">
                Проекты
            </a>
        </li>
    </ul>
</nav>